body{
    display: flex;
    
}
.usaSVG{
    width: 1000px;
    height: 1200px;
    fill: coral;
}

path {
    stroke: white;
    fill:paleturquoise !important;

    transition: fill .4s ease;
    transform-origin: center center;
}

path:hover {
    fill: orange !important;
    cursor: pointer;
    transform: scale(1.005, 1.005);
}