@import "compass/css3";
body{
    display: flex;
    
}
.usaSVG{
    width: 1000px;
    height: 1200px;
}

.path{
    stroke: white;
    fill:rgb(238, 175, 219) !important;

    transition: fill .4s ease;
    transform-origin: center center;
}

path:hover {
    fill: orange !important;
    cursor: pointer;
    transform: scale(1.005, 1.005);
}