
body{
    display: flex;
}

/*html,body{
    overflow: hidden;
}*/

/*.page-wrap{
    padding: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    width: 100%;
    position: relative;
}*/
.page-wrap{
    width: 100%;
    position: relative;
}
.boxes{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.map{
    display: flex;
    overflow: hidden;
}

.usaSVG{
    width: 800px;
    height: 1200px;
    margin-top: -300px;
    margin-left: 200px;
}

path{
    stroke: white;
  

    transition: transform 0.8s ease-in-out;
    transform-origin: center center;
}

path:hover {
    fill: orange !important;
    cursor: pointer;
    transform: scale(1.005, 1.005);
}

/*Scrollbox Style*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid #ddd;
}
  
th,
td {
    text-align: left;
    padding: 8px;
}

/* width */        
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
.Check-Box {
    display: block;
    border: 0px solid red;
    padding: 5px;
    margin-top: 100px;
    width: 22%;
    height: 300px;
    overflow-y: scroll;
    position: relative;
}
